#Main{
    height: 800px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-image: url(../Images/note-taking.png);
}
#Input{
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px solid green;
}
#Input:hover{
    border: 1px solid gray;
}
#Input--Note{
    color: gray;
    outline: none;
    margin: 50px;
    font-size: 32px;
    margin-bottom: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid green;
    padding: 10px 50px 0px 5px;
    
}

#Input--Button{
    padding: 3px 30px 3px 30px;
    border: 1px solid green;
    color: green;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 2px;
    background: transparent;
    text-transform: uppercase;
    transition: all .3s ease-in;
}
#Input--Button:hover{
    background-color: green;
    color: white;
}

#Notes{
    height: 800px;
    display: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url(../Images/note-taking.png);
    
}
#Note-Text{
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 24px;
    overflow-x:auto;
    color: rgba(245, 106, 106, 0.74);
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid grey;
}